@media screen and (max-width: 430px) {
	.flex-wrapper {
		justify-content: flex-start;
	}
	/* .container {
		touch-action: none;
	} */
	.nav-link {
		font-size: 130%;
	}	
	.profile {
		height: 175px;
		border-width: 5px;
	}
	.social {
		font-size: 80%;
	}
	.description-container {
		background: transparent;
	}
	.description {
		font-size: 1.35em;
	}
	.social.resume {
		transform: scale(70%);
	}
}