/* import */

@import url('home.css');
@import url('portfolio-blog.css');
@import url('fx.css');
@import url('responsive.css');

/* font */

@import url('https://fonts.googleapis.com/css?family=Inconsolata%7COpen+Sans%7CConcert+One');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

@font-face {
	font-family: 'nds-bios';
	src: url('../font/nds-bios.woff') format('woff');
}

/* reset */

* {
	margin: 0;
	box-sizing: border-box;
}

/* types */

body {
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

	font-family: nds-bios;
	cursor: url('../mp-hand.cur'), auto;
}

nav {
	font-size: 1.5em;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

img {
	max-width: 100%;
}

i {
	margin: 10px 20px 10px 20px;
	color: #333;
}

div p {
	text-align: justify;
}

td {
	margin: 0 20px 0 20px;
}

/* classes */

.flex-wrapper {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
	justify-content: space-between;
	padding-top: 70px;
}

.navbar-dark {
	opacity: 0.92;
}

.navbar-brand {
	font-size: 1.07em;
}

.footer {
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	padding: 10px;
}

.footer p {
	margin: 0 !important;
	font-size: initial;
}

.col-centered {
	float: none;
	margin: 0 auto;
}