@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Sixtyfour:SCAN@-23&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: Protest Strike;
}

body {
	background-color: rgba(250, 250, 250, .75);
	height: 100%;
}

/* .overlay {
	background-image: url('../bg.png');
	background-size: cover;
	background-position: center;
	position: absolute;
	z-index: 0;
} */

img {
 	max-width: 100%;
}

/* nav */

nav {
	font-size: 1.5em;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.nav-link {
	font-family: "Iconsolata", monospace;
}

.flex-wrapper {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
	justify-content: space-between;
	padding-top: 70px;
}

#green-terminal {
	color: #00ff00;
	font-family: "Iconsolata", monospace;
}

/* index - pic */

.user-picture {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
}

.me {
	perspective: 500px;
	transition: transform 500ms ease-in-out;
}

.spin {
	transform: rotateY(360deg);
}

.img-fluid > :hover {
	transform: scale(150%);
}

/* index - header */

.h1 {
	font-size: 4em;
	text-transform: uppercase;
}

.user-profile {
	padding: 0;
}

/* index - links */

.user-social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-social > a {
	text-decoration: none;
	transition: flex-grow 0.3s;
	perspective: 500px;
	transition: transform 500ms ease-in-out;
}

.user-social > a :hover {
	transform: scale(115%);
	flex: 2;
}

.user-social > a :active {
	transform: scale(120%);
}

.user-social.resume {
	margin: 15.5px;
}

i {
	margin: 10px 20px 10px 20px;
	color: #333;
}

/* index - desc */

.user-description {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
	margin-bottom: 1em;
	padding: 15px;
	font-size: initial;
}

/* portfolio, blog */

.post-link {
	float: left;
}

.post-date {
	float: right;
}

.post-header {
	background-color: #F5F5F5;
	overflow: hidden;
	padding: 0 5px 0 5px;
}

.post-summary, .post-content{
	clear: both;
}

.post-summary {
	padding: 0 5px 0 5px;
	font-size: initial;
}

.post-list-footer {
	padding-bottom: 5px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #292929;
}

.post-comments {
	padding-top: 10px;
	border-top-style: solid;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto;
}

.footer {
	background-color: #F5F5F5;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: 10px;
}

.footer p {
	margin: 0 !important;
	font-size: initial;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

div p {
	text-align: justify;
}

td {
	margin: 0 20px 0 20px;
}

/* responsive */

/*
 * Some font-size tweaks for smaller screens
 */
@media screen and (max-width: 480px) {
	.user-social {
		font-size: 80%;
	}

	.user-social.resume {
		transform: scale(68%);
	}

	.user-name {
		font-size: em;
	}

	nav {
		font-size: 80%;
	}

	.dropdown-menu li {
		font-size: 80%;
	}
}

@media screen and (max-width: 320px) {
	.user-social {
		font-size: 70%;
	}

	#user-name {
		font-size: 2em;
	}

	nav {
		font-size: 80%;
	}

	.dropdown-menu li {
		font-size: 80%;
	}
}