<!DOCTYPE html>
<html>
	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>

	<!-- /blog -->

	<body>

		{{ partial "nav.html" . }}

		<div class="flex-wrapper">
			<div class="container wrapper">

				<div class="post-list-container">

					<div class="col-xs-12 text-center">
						<h1 class="post-title">BLOG</h1>
					</div>
				
				</div>

				{{ partial "postlist.html" . }}
				{{ partial "pagination" . }}
			</div>

			{{ partial "footer.html" }}
		</div>

	</body>
</html>
