<!DOCTYPE html>
<html>
	<head>
		<title> {{ .Title }} | {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>

	<body>

		{{ partial "nav.html" . }}

		<div class="flex-wrapper">

			<div class="container">

				<div class="col-xs-12 text-center">
					<h1 class="post-title">{{ .Page.Title }}</h1>
				</div>

				{{ if in .Permalink "blog" }}
						
					<div class="tags">
						<a href="/tags/self">
							<p class="tag">
								self
							</p>
						</a>
						<a href="/tags/tech">
							<p class="tag">
								tech
							</p>
						</a>
						<a href="/tags/world">
							<p class="tag">
								world
							</p>
						</a>
					</div>

				{{ end }}
			
				{{ partial "postlist.html" . }}
				{{ partial "pagination" . }}

			</div>

			{{ partial "footer.html" }}
			
		</div>

	</body>
</html>
