{{ with .Site.Params.GithubID }}
<a href="https://github.com/{{.}}" rel="me" title="GitHub"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{{ end }}

{{ with .Site.Params.LinkedInID }}
<a href="https://linkedin.com/in/{{.}}" rel="me" title="LinkedIn"><i class="fab fa-linkedin fa-3x" aria-hidden="true"></i></a>
{{ end }}

{{ with .Site.Params.InstagramID }}
<a href="https://instagram.com/{{.}}" rel="me" title="Instagram"><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></a>
{{ end }}

{{ with .Site.Params.HashnodeID }}
<a href="https://hashnode.com/{{.}}" rel="me" title="Hashnode"><i class="fa-brands fa-hashnode" aria-hidden="true"></i></a>
{{ end }}

{{ with .Site.Params.SpotifyID }}
<a href="https://open.spotify.com/artist/6o2NWnXwAdnP9xxSCBHKcY?si=gKDXimEySOiQNawFKN4H-A" rel="me" title="Spotify"><i class="fab fa-spotify fa-3x" aria-hidden="true"></i></a>
{{ end }}

{{ with .Site.Params.Email }}
<a href="mailto:{{.}}" title="Email"><i class="fas fa-envelope fa-3x" aria-hidden="true"></i></a>
{{ end }}

{{ with .Site.Params.Mobile }}
<a href="tel:{{.}}" title="Mobile"><i class="fas fa-mobile fa-3x" aria-hidden="true"></i></a>
{{ end }}

{{ with .Site.Params.PayPalMeID }}
<a href="https://www.paypal.me/{{.}}" rel="me" title="PayPal.Me"><i class="fab fa-paypal fa-3x" aria-hidden="true"></i></a>
{{ end }}

