<!DOCTYPE html>
<html>

  <head>

    <title>{{ .Site.Title }}</title>

    {{ partial "head.html" . }}

  </head>

  <body>
    {{ partial "nav.html" . }}

    <div class="flex-wrapper">
      <main class="container">

        {{ with .Site.Params.Profile }}
        <div class="profile-container">
          <div class="me">
            <img
              alt="profile"
              class="profile rounded-circle"
              src="{{.}}"
            />
          </div>
        </div>
        {{ end }}

        <div class="h1-container">
          <div class="text-center">
            <h1 class="h1">{{ .Site.Params.h1 }}</h1>
          </div>
        </div>

        <div class="social-container">
          <div class="social">
            {{ partial "social.html" . }}
          </div>
        </div>

        <div class="description-container">
          <div class="description text-center">
          </div>
        </div>
        
      </main>

      {{ partial "footer.html" }}
    </div>
    
  </body>

</html>
